.home-wrapper {
    padding: 40px;
    background-image: url("../img/home-lightrainbow.jpg");
    overflow: hidden;
    background-size: cover;
}
.home-wrapper h1 {
    padding-bottom: 15px;
    height: 100%;
}
.home-wrapper img {
    float: left;
    padding-right: 60px;
    margin-top: 60px;
}
.home-wrapper p {
    font-size: 18px;
}
.body, html {
    height: 100%;
}
.home-content {
    float: left;
    width: 70%;
}