/*
    tangerine #E37222
    teal #07889B
    powder #66B9BF
    Tan #EEAA7B

*/

.header {
    padding: 20px 40px;
    background-color: #007FA2;
}
.name {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #fff;
    text-shadow: 2px 2px #66B9BF;
    border: 3px solid #66B9BF;
    padding: 10px 0px;
    text-align: center;
}
.navBar1 {
    font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "proxima-nova";
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    font-style: normal;
    line-height: 1em;
    color: rgba(255,255,255,.8);
    margin-top: 20px;
}

.N .navbar-nav {
    margin: 0px -15px;
}
.N .navbar-inverse {
    background-color: #007FA2;
    border: none;
    border-radius: 0;
}
.N .navbar:last-child {
    margin-bottom: 0px;
}
.N .navbar-nav > li > a {
    font-size: 16px;
    color: #fff;
    line-height: 40px;
}
@media (max-width: 768px) {
    .N .navbar-nav > li > a{
        font-size: 300%;
        text-align: center;
        line-height: 2em;
    }   
}
.N .navbar-nav > li >a:hover {
    color: #07889B;
    background-color: #fff;
}
.N .navbar-nav > li.active> a{
    color: #07889B;
    background-color: #fff;
}
.N .navbar-nav > li.active> a:hover {
    color: #07889B;
    background-color: #fff;
}
.N .navbar-header h1 {
    color: white;
    margin-top: 10px;
    font-size: 30px;
}
@media (max-width: 768px) {
    .N .navbar-header h1 {
        font-size: 300%;
        margin-left: 20px;
    }
    .N .navbar{min-height: 90px;}
    .N .navbar-header h1 {margin-top: 20px;}
}

home-wrapper > h1{
    text-align: center;
}
.contactMe .container {
        padding: 20px;
        text-align: center;
}
.contactMe .container ul {
       background-color: #07889B;
       margin: auto;
       padding: 20px;
       border-radius: 5px;
       width: 50%;
       margin-top: 50px;
}
.contactMe .container ul > li {
    color: #fff;
    display: block;
    text-decoration: none;
    font-size: 18px;
}
.contactMe .container ul > li a{
    color: #fff;
    text-decoration: none;
}

h1 {
    text-align: center;
}

.blue-container {
    border-width: 10px;
    border-color: black;
    background-color: #66B9BF;
    margin: 20px 40px;
    border-radius: 5px;
    padding-bottom: 30px;
}
.resume {
    padding: 20px;
    text-align: center;
}